<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To-Do List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    @* @await RenderSectionAsync("Estilos", required: false) *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tl2_tp10_2023_alvaroad29.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="~/img/logo.svg">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <a class="navbar-brand ps-4" asp-area="" asp-controller="Tablero" asp-action="Index">
                     <img src="~/img/logo.svg" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
                    <span class = "text-primary">To-Do</span> <span> List</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end pe-4"  >
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li> *@
                        
                        @if(!string.IsNullOrEmpty(Context.Session.GetString("Usuario")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tablero" asp-action="Index">Mis Tableros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tarea" asp-action="MisTareas">Mis Tareas</a>
                            </li>
                            @if(Context.Session.GetString("NivelDeAcceso") == enumRol.admin.ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tablero" asp-action="TodosTableros">Tableros</a>
                                </li>
                            }
                        }
                        
                        @if(!string.IsNullOrEmpty(Context.Session.GetString("Usuario")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle"></i>
                                    @Context.Session.GetString("Usuario")
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    @* <li><hr class="dropdown-divider" /></li> *@
                                    <li>
                                        <a class="dropdown-item" asp-controller="Usuario" asp-action="Configuracion" asp-route-id= "@Context.Session.GetString("Id")">
                                            <i class="bi bi-gear-fill"></i>
                                            Configuración
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="Login" asp-action="Logout">
                                            <i class="bi bi-power"></i>
                                            Cerrar sesión
                                        </a>
                                    </li>
                                    @* <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Delete">Eliminar</a></li> *@
                                </ul>
                            </li>
                        }else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Login" asp-action="Index">Ingresar</a></li>
                                    <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Create">Crear Usuario</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class = "cont-p">
        <div class="container principal-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer" >
        <div class="text-center">
            &copy; 2023 - Alvaro Augusto Diaz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
