@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" class="containter">
    <h1 class="display-4">Bienvenido</h1>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button"><a type="button" class="btn btn-primary btn-lg" asp-controller="Login" asp-action="Index">Ingresar</a></button>
        <button class="btn btn-primary" type="button"><a type="button" class="btn btn-primary btn-lg" asp-controller="Usuario" asp-action="Create">Crear Usuario</a></button>
        
    </div>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
