@using tl2_tp10_2023_alvaroad29.ViewModels

@model UsuarioViewModel

<div class="card text-center">
  <div class="card-header">
    Detalles de usuario
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre de usuario</h5>
    <p class="card-text">@Model.NombreDeUsuario</p>

    <h5 class="card-title">Rol</h5>
    <p class="card-text">@Model.Rol</p>

    <a asp-controller="Usuario" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Modificar</a>
    <a asp-controller="Usuario" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
  </div>
</div>